html, body {
  margin: 0;
  padding: 0;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#stats-holder {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline;
}

#springsliders {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard {
}

.key {
  float: left;
  position: relative;
  display: flex;
}

.white {
  height: 14.4vw;
  width: 3.8095238095vw;
  z-index: 1;
  border-top: 0.12vw solid #AAAAAA;
  border-bottom: 0.12vw solid #AAAAAA;
  border-left: 0.12vw solid #AAAAAA;
  background-color: white;
}

.black {
  height: 7.92vw;
  width: 2.0952380952vw;
  z-index: 2;
  border: 0.12vw solid #000000;
  background-color: #222222;
}

.a, .b, .d, .e, .g, .black {
  margin: 0 0 0 -1.1676190476vw;
}

#keyboard > .key:last-child {
  border-right: 0.12vw solid #AAAAAA;
}
